BasedOnStyle: Microsoft
Standard: Latest
ColumnLimit: 160
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
SortIncludes:
  Enabled: true
  IgnoreCase: false
